<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!---Navigation Bar--->
    <header>
        <ul class="nav-bar">
            <li>
                <div class="flex items-center space-x-1">
                    {% if current_user.is_authenticated %}
                    <ul class="nav-bar">
                        <a href="/dashboard" class="nav-title">Resume Architect</a> 
                        <div class="nav-menu">
                            <li><a href="examplePage.html">Resume Examples</a></li>
                            <li><a href="templatePage.html">Resume Templates</a></li>
                            <li><a href="editorPage.html">Resume Editor</a></li>
                            <li><a href="editorPage.html">Cover Letter</a></li>
                        </div>
                        <li class="hamburger">
                            <button onclick="toggleMenu()">☰</button>
                        </li>
                        <li style="float:right"><a href="/logout">Logout</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav-bar">
                        <a href="/" class="nav-title">Resume Architect</a>
                        <div class="nav-menu">
                            <li><a href="examplePage.html">Resume Examples</a></li>
                            <li><a href="templatePage.html">Resume Templates</a></li>
                            <li><a href="editorPage.html">Resume Editor</a></li>
                            <li><a href="editorPage.html">Cover Letter</a></li>
                        </div>
                        <li class="hamburger">
                            <button onclick="toggleMenu()">☰</button>
                        </li>
                        <li style="float:right"><a href="/login">Sign In</a></li>
                    {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <div class="container mx-auto p-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="bg-{{ category }}-100 border border-{{ category }}-400 text-{{ category }}-700 px-4 py-3 rounded mb-4" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>

